* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  visibility: hidden;
}

.css-slider {
  display: block;
  height: 100%;
  width: 100%;
  max-width: 60rem;
  margin: auto;
  position: relative;
}

#slides {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  height: 40rem;
  color: white;
}

#slides > .container {
  list-style: none;
  height: 100%;
  width: 400%;
  overflow: hidden;
  position: relative;
  left: 0;
  -webkit-transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

#slides > .container > .slide {
  width: 25%;
  float: left;
  position: relative;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #25282a;
  padding-bottom: 5rem;
  padding-top: 1.5rem;
}

.slide img {
  height: 95%;
  width: 95%;
  border-radius: 1rem;
}

input[type="radio"] {
  visibility: hidden;
}

.css-slider label {
  position: absolute;
  left: auto;
  right: 8%;
  top: auto;
  bottom: 10%;
  z-index: 101;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  cursor: pointer;
  border: 0.2rem solid #71acff;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  background-color: #71acff;
}

.css-slider label:hover {
  border: 0.2rem solid white;
  background-color: white;
}

.css-slider label[for="slide-btn-1"] {
  margin-right: -2.25rem;
}
.css-slider label[for="slide-btn-2"] {
  margin-right: -0.75rem;
}
.css-slider label[for="slide-btn-3"] {
  margin-right: 0.75rem;
}
.css-slider label[for="slide-btn-4"] {
  margin-right: 2.25rem;
}

.css-slider input[type="radio"]#slide-btn-1:checked ~ #slides > .container {
  left: 0;
}
.css-slider input[type="radio"]#slide-btn-2:checked ~ #slides > .container {
  left: -100%;
}
.css-slider input[type="radio"]#slide-btn-3:checked ~ #slides > .container {
  left: -200%;
}
.css-slider input[type="radio"]#slide-btn-4:checked ~ #slides > .container {
  left: -300%;
}

.css-slider input[type="radio"]#slide-btn-1:checked ~ label[for="slide-btn-1"] {
  background-color: inherit;
}

.css-slider input[type="radio"]#slide-btn-2:checked ~ label[for="slide-btn-2"] {
  background-color: inherit;
}

.css-slider input[type="radio"]#slide-btn-3:checked ~ label[for="slide-btn-3"] {
  background-color: inherit;
}

.css-slider input[type="radio"]#slide-btn-4:checked ~ label[for="slide-btn-4"] {
  background-color: inherit;
}

.signature {
  text-align: left;
  width: 100%;
  margin-left: 6rem;
  margin-top: 2rem;
  background: inherit;
}

@media (max-width: 1024px) {
  .css-slider label {
    right: 8%;
    bottom: 12%;

  }
}

@media (max-width: 768px) {
  .css-slider label {
    right: 45%;
    bottom: 15%;
  }

  .signature {
    margin-top: 3.5rem;
    background: inherit;
  }

  #slides > .container > .slide {
    padding-bottom: 3rem;
  }
}